<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Shop | <%= title %>
    </title>

    <style>
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-family: 'Roboto', sans-serif;
        }

        body {
            background: #edf2f4;
        }

        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 3.5rem;
            padding: 0 1.5rem 0 1.5rem;
            background: #041C32;
        }

        .nav-link {
            text-decoration: none;
            margin-right: 1rem;
            font-size: 26px;
            color: white;
        }
    </style>
</head>