<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .navbar {
            display: flex;
            align-items: center;
            height: 5rem;
            width: 100%;
            padding: 1rem;
            background-color: black;
        }

        .nav-link {
            text-decoration: none;
            margin-right: 1rem;
            font-size: 26px;
            color: white;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <a href="/" class="nav-link">Home</a>
        <a href="/about" class="nav-link">About</a>
    </nav>
    <h1>About page</h1>
</body>

</html>