<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>The page for adding reviews and comments</h1>

    <div class="create-comment">
        <form>
            <label for="title">Comment title:</label>
            <input type="text" id="title" required>
            <label for="snippet">Comment snippet:</label>
            <input type="text" id="snippet" required>
            <label for="body">Comment body:</label>
            <input type="text" id="comment-body" required>
            <button>Submit</button>
        </form>
    </div>
</body>

</html>