<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

    <body>
        <% const name='Mario' %>
            <%- include('./partials/navbar.ejs')%>
                <div class="wrapper">
                    <div class="content">
                        <h1>Home</h1>
                        <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio placeat voluptas voluptatum,
                            porro et
                            tempora
                            incidunt doloribus blanditiis repellendus nisi!</h2>
                    </div>
                </div>
                <%- include('./partials/footer.ejs')%>
    </body>

</html>