<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/navbar.ejs')%>
            <h1>Product item page</h1>
            <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio placeat voluptas voluptatum, porro et
                tempora
                incidunt doloribus blanditiis repellendus nisi!</h2>
            <%- include('./partials/footer.ejs')%>
    </body>

</html>