body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.5rem;
    padding: 0 1.5rem 0 1.5rem;
    background: #041C32;
}

.nav-link {
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.3em;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-height: 100vh;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75rem;
    padding: 1.5rem;
}

.store-product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product-entity {
    min-height: 350px;
    width: 100%;
    max-width: 17em;
}

.product-image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.product-image {
    width: 100%;
    height: auto;
}

.product-details {
    margin: 0.5rem 0 0;
}

.product-detail-text {
    margin: 0;
}

.product-atc-btn-box {
    display: flex;
    justify-content: end;
}

.atc-btn {
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
    background: #fcbf49;
    color: #212529;
}

/* single item */

.product-single-item-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-height: 100vh;
    margin: 0 auto;
}

.product-single-item-box {
    max-width: 75rem;
    width: 100%;
    height: auto;
}

.product-single-item-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    height: 45rem;
    border: 1px solid #000;
    background: #e9ecef;
}

.product-single-item-image-box {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    width: 100%;
    height: 100%;
}

.product-single-item-image {
    max-height: 35rem;
    height: 35rem;
    max-width: 50rem;
}

.product-single-item-body {
    height: 100%;
    width: 100%;
    flex-basis: 50%;
    border: 1px solid #000;
}

.product-single-item-desc {
    max-width: 50rem;
    border: 1px solid #000;
}

.product-single-item-footer {
    display: flex;
    border: 1px solid #000;
}

.product-single-item-atc-btn-box {
    border: 1px solid #000;
}

/* single item */


/* cart */

.cart-item-entity {
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid #000;
}

.delete-item-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #000;
    padding: 5px;
}

.delete-item-btn:hover {
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

/* cart */


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 5rem;
    padding: 0 1.5rem 0 1.5rem;
    z-index: 1000;
    color: #ffffff;
    background: #1d2d44;
}