:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #eaf4f4;
}

a {
    text-decoration: none;
    color: #000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 6.5rem;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background: #bc4749;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70rem;
    width: 70rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1.3em;
    color: #ffffff;
}

.nav-link-right {
    margin-left: 1rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-height: 100vh;
    margin: 0 auto;
    padding: 10rem 0 5rem 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70rem;
}

.store-product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.product-entity {
    min-height: 350px;
    width: 100%;
    max-width: 17em;
}

.product-image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 17rem;
    min-height: 17rem;
    height: 17rem;
    width: 100%;
}

.product-image {
    width: 100%;
    height: 100%;
}

.product-details {
    margin: 0.5rem 0 0;
}

.product-detail-text {
    margin: 0;
}

.product-atc-btn-box {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.atc-btn {
    height: 2.5rem;
    width: 7.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    background: #f7b801;
    color: #000;
}

/* single item */

.product-single-item-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-height: 100vh;
    margin: 0 auto;
}

.product-single-item-box {
    max-width: 75rem;
    width: 100%;
    padding-top: 3.5rem;
    height: auto;
    background: #ffffff;
}

.product-single-item-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;
    height: 45rem;
}

.product-single-item-images {
    flex-basis: 45%;
    width: 100%;
    height: 100%;
    width: 100%;
}

.product-single-item-main-image-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.product-single-item-main-image {
    margin: auto;
    min-height: 35rem;
    max-height: 35rem;
    height: 35rem;
    max-width: 45rem;
    width: 34rem;
}

.product-single-item-desc-body {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
    flex-basis: 55%;
    /* border: 1px solid #000; */
}

.product-single-item-ingredients-box {
    display: flex;
    gap: 0.5rem;
}

.product-single-item-size,
.product-single-item-thickness,
.product-single-item-base-sauce {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

/* .product-single-item-base-sauce {
    margin-bottom: 1rem;
} */

.product-single-item-footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.product-single-item-footer-size-atc-btn-box {
    display: flex;
}

.product-single-item-quantity {
    text-align: center;
    height: 3rem;
    width: 4.5rem;
    margin-right: 1rem;
}

.product-single-item-atc-btn-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.product-single-item-atc-btn {
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    background: #f7b801;
    color: #000;
    height: 3rem;
    width: 12rem;
}

.product-single-item-atw-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    background: #f7b801;
    color: #000;
    height: 3rem;
    width: 3rem;
}

/* single item */


/* cart */

.cart-item-entity {
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid #000;
}

.delete-item-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #000;
    padding: 5px;
}

.delete-item-btn:hover {
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

/* cart */


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 5rem;
    padding: 0 1.5rem 0 1.5rem;
    z-index: 1000;
    color: #ffffff;
    background: #1d2d44;
}